* { margin:0; padding:0; }

body { /*padding:0 0 30px;*/ font-size:83%; /*line-height:1.3;*/ color:#4d4d4d; font-family:Helvetica, Arial, sans-serif; }

html, body { height:100%; }
.body { min-height:100%; height:auto !important; margin-bottom:-194px; }
#footer, .blank { height:60px; padding:40px 0; }


a { color:#0252aa; text-decoration:none; cursor:pointer; }
a:hover { text-decoration:underline; }
a img { border:0; }
a.more { color:#29abe2; font-size:11px; text-decoration:underline; }
a.more:hover { text-decoration:none; }

.clear { clear:both; }
.sepa { width:100%; height:25px; margin:0 0 25px; border-bottom:1px dashed #ccc; }
.floatleft { float:left; }
.floatright { float:right; }

.vize_capital_logo{display: block; margin: 25px auto; width: 290px;}

input, textarea, select { font-size:12px; font-family:Arial, Helvetica, sans-serif; }
textarea { overflow:auto; }

.cl { display:block; height:0; font-size:0; line-height:0; text-indent:-4000px; clear:both; }
.notext { font-size:0; line-height:0; text-indent:-4000px; }

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }
.aligncenter { text-align:center; }
.tc { text-align:center; }

.shell { width:1002px; margin:0 auto; position:relative; }

/*bevoswitch*/
#bevoswitch { width:100%; background:#333; position:relative; font-size:12px;
	-moz-box-shadow:#666 0 0 8px; -webkit-box-shadow:#666 0 0 8px; box-shadow:#666 0 0 8px;
}
	#bevoswitch a { padding:20px 10px; margin:0 -1px 0 0; display:block; position:relative; float:left; color:#B3B3B3; text-decoration:none; background:#333;
		border-left:1px solid #666; border-right:1px solid #666; 
	}
	
	#bevoswitch a.floatleft {
		-webkit-transition: background 0.4s;
		-moz-transition:    background 0.4s;
		-o-transition: 	    background 0.4s;
		transition: 	    background 0.4s;
	}
	#bevoswitch a.floatright { float:right; }
		
	#bevoswitch a:hover { background:#555; }
	#bevoswitch a.active { color:#FFD000; }
	
		#bevoswitch a.active b { width:100%; height:5px; background:#ffd000; position:absolute; left:0; bottom:0; }
	
	#bevoswitch a.icon { width:40px; height:56px; padding:0; border:none; outline:none; text-indent:-9999px; }
	#bevoswitch a.icon.blog { background:url(Images/icon_bevoswitch_blog.png) no-repeat center 19px; }
	#bevoswitch a.icon.blog:hover { background-position:center -81px; }
	#bevoswitch a.icon.facebook { background:url(Images/icon_bevoswitch_facebook.png) no-repeat center 17px; }
	#bevoswitch a.icon.facebook:hover { background-position:center -83px; }
	#bevoswitch a.icon.twitter { background:url(Images/icon_bevoswitch_twitter.png) no-repeat center 19px; }
	#bevoswitch a.icon.twitter:hover { background-position:center -81px; }

/*header*/
#header { padding:0 0 20px; position:relative; }

/*
.home .wrap .bgtrans { width:100%; height:660px; position:absolute; top:-80px; left:0; background:#50647D;
	filter:alpha(opacity=70) -moz-opacity:.70; opacity:.70;
}
*/

.xstripe { width:100%; height:14px; background:#ffd000; position:relative; overflow:hidden; }
/*
.xstripe.footer { margin:20px 0 0; }
*/

	.xstripe .hilite { width:350px; height:350px; position:absolute; top:-175px; left:-100px;
		background:#ffd000;
		background-image: -webkit-gradient(radial, center center, 0, center center, 100%, from(#fff), to(#ffd000));
		background-image: -webkit-radial-gradient(circle, #fff, #ffd000, #ffd000);
		background-image:    -moz-radial-gradient(circle, #fff, #ffd000, #ffd000);
		background-image:     -ms-radial-gradient(circle, #fff, #ffd000, #ffd000);
		background-image:      -o-radial-gradient(circle, #fff, #ffd000, #ffd000);
		background-image:         radial-gradient(circle, #fff, #ffd000, #ffd000);
	}
	
#nav { width:100%; background:#fff; position:relative;
	-moz-box-shadow:#ccc 0 0 8px; -webkit-box-shadow:#ccc 0 0 8px; box-shadow:#ccc 0 0 8px;
}

#nav h1#logo { margin:-10px 15px -10px 0; float:left; }
#nav h1#logo a { width:169px; height:84px; display:block; text-indent:-9999px; background:url(Images/logo.png); }

#nav #menu { height:60px; }
	#menu a { padding:25px 20px 24px 20px; margin:0 -1px 0 0; display:block; float:left; position:relative; color:#666; background:#fff; text-decoration:none; text-transform:uppercase; font-size:.9em; 
		border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6;
		-webkit-transition: background 0.4s;
		-moz-transition:    background 0.4s;
		-o-transition: 	    background 0.4s;
		transition: 	    background 0.4s;
	}
	#menu a:hover,
	#menu a:focus { color:#333; background:#f2f2f2; }
	#menu a.active {  color:#333; background:#f2f2f2; }

	#menu a b {  width:100%; height:5px; background:#333; position:absolute; left:0; bottom:0px; display:none; }
	#menu a.active b { display:block; }


/*footer*/
#footer { width:100%; margin:50px 0 0; background:#333; font-size:.8em; position:relative;
	-moz-box-shadow:#666 0 0 8px; -webkit-box-shadow:#666 0 0 8px; box-shadow:#666 0 0 8px;
}
#footer .logo { margin:0 20px 0 0; float:left; }
#footer .logo a { width:126px; height:63px; display:block; text-indent:-9999px; outline:none; background:url(Images/logo_footer.gif) no-repeat; }

#footer .menu { float:left; }

#footer .menu .main { margin:0 0 5px; font-size:1.1em; color:#fff; text-transform:uppercase; }
#footer .main span { margin:0 20px 0 0; }
#footer .main span b { font-size:35px; font-weight:normal; position:relative; top:4px; left:3px; }
#footer .main a { margin:0 20px 0 0; color:#fff; }

#footer a { margin:0 15px 0 0; color:#999; text-transform:uppercase; }
#footer a:hover,
#footer a:focus { color:#ccc; text-decoration:none; }
#footer p { color:#999; }
#footer p a { margin:0 0 0 7px; text-transform:none; }

/*bgi*/
#bgi { width:100%; height:550px; position:absolute; top:134px; left:0; overflow:hidden; }
#bgi img { width:2200px; height:550px; position:absolute; left:50%; margin-left:-1100px; }


/*main*/
#main { padding:8px 0 15px; height:100%; }

h1, h2, h3 { font-family:Helvetica, Arial, sans-serif; letter-spacing:-.1em; font-weight:normal; line-height:1em; }
#main h2,
#main h3 { margin:25px 0; font-size:2.5em; }
#main h3 { font-size:2em; }
#main p { margin:0 0 15px; line-height:1.2em; }

h2.flushbutt { margin-bottom:5px !important; }

blockquote { padding:15px; margin:0 0 20px; border:1px solid #e6e6e6; background:transparent; font-family:Helvetica, Arial, sans-serif; color:#999; font-size:.9em; position:relative; }
blockquote.normaltxt { font-family:Georgia, "Times New Roman", serif; color:#4d4d4d; font-size:1em; }

	#main blockquote h2 { margin:0 0 5px; font-size:3em; }
	#main blockquote p { margin:0; }

#main .col { width:500px; }
#main .btn-networks { display:block; margin:0 auto 5px; width:279px; height:52px; background:url(Images/btn-networks.png) no-repeat 0 0; font-size:0; line-height:0; text-indent:-4000px; }
#main .btn-networks:hover { background-position:0 bottom; }
#main .intro { font-size:13px; line-height:17px; padding:0 0 25px; }
#main .box-1 { width:497px; height:512px; background:#dbdbdb url(Images/box1.png) no-repeat 0 0; margin:0 auto 20px; -moz-box-shadow:1px 1px 5px #d6d5cc; -webkit-box-shadow:1px 1px 5px #d6d5cc; box-shadow:1px 1px 5px #d6d5cc; } 
#main .box-1 a { color:#ed1c24; text-decoration:underline; }
#main .box-1 a:hover { text-decoration:none; }
#main .btn-bevo { display:block; width:273px; height:237px; background:url(Images/btn-bevo.png) no-repeat 0 0; font-size:0; line-height:0; text-indent:-4000px; margin:0 auto; }
#main .btn-bevo:hover { background-position:0 -238px; }
#main .txt-grow { width:328px; height:31px; font-size:0; line-height:0; text-indent:-4000px; background:url(Images/text-grow.png); margin:0 auto 18px;  }
#main .logos { text-align:center; margin:0 0 12px; }
#main .logos img { margin:0 3px; } 
#main .par { width:355px; margin:0 auto 15px; padding:0; }

#main .box-2 { width:498px; height:512px; background:url(Images/box2.png); color:#fff; margin:0 0 20px; -moz-box-shadow:1px 1px 5px #d6d5cc; -webkit-box-shadow:1px 1px 5px #d6d5cc; box-shadow:1px 1px 5px #d6d5cc; }
#main .box-2 a { color:#84a2be; text-decoration:underline; }
#main .box-2 a:hover { text-decoration:none; }
#main .col-2 h3 { margin-left:30px; }
#main .btn-affiliate { display:block; margin:0 auto; width:349px; height:163px; background:url(Images/btn-affiliate.png); font-size:0; line-height:0; text-indent:-4000px; }
#main .btn-affiliate:hover { background-position:0 bottom; }
#main .txt-affiliates { font-size:0; line-height:0; text-indent:-4000px; margin:0 auto; width:370px; height:109px; background:url(Images/text-affiliate.png); }
#main .btn-affiliate-portal { display:block; margin:0 auto 5px; width:273px; height:52px; background:url(Images/btn-affiliate-portal.png) no-repeat 0 0; font-size:0; line-height:0; text-indent:-4000px; }
#main .btn-affiliate-portal:hover { background-position:0 bottom; }

#main .bgtrans { width:100%; height:100%; background:#fff; position:absolute; top:0; left:0;
	filter:alpha(opacity=70) -moz-opacity:.70; opacity:.70;
}
#main .cont { position:relative; }

/*single pages*/
.b_index #main .shell { width:1002px; }
/*
.b_index .bgtrans_main { width:1002px; height:668px; position:absolute; top:0; left:50%; margin-left:-501px; background:#fff;
	filter:alpha(opacity=80) -moz-opacity:.80; opacity:.80;
}
*/

.b_index #main .maintop { height:550px; margin:-28px 0 0; }
.b_index #main h2 { margin:0 0 5px; font-size:38px; }

.b_index #main .title { width:430px; height:100px; padding:30px 0 0 20px; color:#000; }

.b_index .box.half { margin:75px 0 0; text-align:center; }
.b_index .box.half .btn { margin:0 auto 15px; }
.b_index .box.half .tbtn { margin:10px auto 0; }
.b_index .box.half p { margin:0 0 10px !important; color:#000; }

.b_index .box.yell.flushtop { color:#000; }
.b_index .box.yell.flushtop p { margin:0 !important; }

.b_aboutus img { border:1px solid #999; float:right;}
.b_aboutus blockquote h3 { margin-top:0 !important; }

.b_executives blockquote { width:400px; margin:0 20px 0 0; }
.b_executives blockquote img.floatleft {width:150px; margin:0 15px 0 0; float:left; display:inline; }
.b_executives blockquote .floatleft { width:230px; }
.b_executives blockquote h3 { margin:0 0 15px !important; }
.b_executives img.unicrest { margin:10px 0 0; display:block; }
.b_executives .anno {}
.b_executives .anno p { font-size:.9em; line-height:1.5em !important; color:#777;}

.b_partners img { margin:0 13px 15px 0; }

.b_bevofornetworks img { margin:0 0 15px; }
.b_bevofornetworks img.last { margin-top:25px; }
.b_bevofornetworks ul.third { width:300px; margin:25px 35px 0 0; float:left; display:inline; list-style:none; }
	.b_bevofornetworks ul.third.last { margin-right:0; }
	
	.b_bevofornetworks ul.third h3 { margin:0 0 15px !important; font-size:; color:#EC2227; }
	.b_bevofornetworks ul.third p { font-family:Helvetica, Arial, sans-serif; }

.b_bevofornetworks .sepa { height:15px; margin-bottom:15px; }	
.b_bevofornetworks a.btn.gotonwportal { margin:25px auto 15px; }

.b_bevofornetworks .nwfeats { width:1015px; margin:0 0 25px -15px; font-family:Helvetica, Arial, sans-serif; }
	.b_bevofornetworks .nwfeats .col { width:226px !important; margin:0 15px; float:left; display:inline; border-right:1px dotted #ccc; }
		.b_bevofornetworks .nwfeats .col.last { margin-right:0; border:none; }
		
	.b_bevofornetworks .nwfeats .col h2 { width:194px; height:94px; display:block; text-indent:-9999px; }
		.b_bevofornetworks .nwfeats .col.col1 h2 { background:url(Images/content_nw_feats_offers.gif) no-repeat center; }
		.b_bevofornetworks .nwfeats .col.col2 h2 { background:url(Images/content_nw_feats_blacklists.gif) no-repeat center; }
		.b_bevofornetworks .nwfeats .col.col3 h2 { background:url(Images/content_nw_feats_affiliates.gif) no-repeat center; }
		.b_bevofornetworks .nwfeats .col.col4 h2 { background:url(Images/content_nw_feats_buzzcontrol.gif) no-repeat center; }
	
	.b_bevofornetworks .nwfeats .col ul { list-style-type:square; }
	.b_bevofornetworks .nwfeats .col li { margin:0 0 15px; font-size:.9em; }
	.b_bevofornetworks .nwfeats .col li span { color:#EC2227; font-weight:bold; }

.b_affiliateportal .feats { padding:15px; margin:0 0 25px; border:1px solid #ccc; background:#fff; }	
.b_affiliateportal .feats h2 { width:550px; height:94px; margin:0 !important; text-indent:-9999px; }
	.b_affiliateportal .feats h2.networks { background:url(Images/content_aff_feats_networks.gif) no-repeat; }
	.b_affiliateportal .feats h2.offers { background:url(Images/content_aff_feats_offers.gif) no-repeat; }
	.b_affiliateportal .feats h2.ppc { background:url(Images/content_aff_feats_ppc.gif) no-repeat; }
	.b_affiliateportal .feats h2.keywords { background:url(Images/content_aff_feats_keywords.gif) no-repeat; }
	.b_affiliateportal .feats h2.analytics { background:url(Images/content_aff_feats_analytics.gif) no-repeat; }
	.b_affiliateportal .feats h2.classroom { background:url(Images/content_aff_feats_classroom.gif) no-repeat; }
	
	.b_affiliateportal .feats ul { margin:0 0 0 15px; list-style-type:square; font-family:Helvetica, Arial, sans-serif; }
	.b_affiliateportal .feats li { margin:0 0 5px; font-size:.9em; }
	.b_affiliateportal .feats li span { color:#29abe2; font-weight:bold; }

.b_affiliateportal .box { width:450px; padding:15px; margin:0 15px 15px 0; float:left; display:inline; border:1px solid #ccc; background:#fff; }
        .b_affiliateportal .box img { width:150px; margin:0 35px 0 0; float:left; }
        .b_affiliateportal .box .floatleft { width:250px; float:left; }
        .b_affiliateportal .box .floatleft h2 { margin:0 0 15px !important; font-size:1.8em !important; }
        .b_affiliateportal .box .floatleft p { font-size:.9em; }


.b_affiliateportal a.btn { margin:0 auto; }
		
.b_careers table { border:1px solid #ccc; }
.b_careers table td { padding:15px; background:#fff; }

/*global*/
/*btn*/
.btn { display:block; text-indent:-9999px; outline:none; }
input.btn { border:none; font-size:0px; line-height:0px; cursor:pointer; }
.btn:hover { background-position:left bottom !important; }
.btn.gotonwportal { width:302px; height:73px; background:url(Images/btn_gotonwportal.png) no-repeat; }
.btn.gotoaffportal { width:341px; height:74px; background:url(Images/btn_gotoaffportal.png) no-repeat; }
.btn.logo_ads { width:117px; height:120px; background:url(Images/btn_logo_ads.png) no-repeat; }
.btn.logo_aff { width:113px; height:120px; background:url(Images/btn_logo_aff.png) no-repeat; }


/*tbtn*/
.tbtn { padding:5px 15px; display:inline-block; 
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-webkit-transition: background 0.4s;
	-moz-transition:    background 0.4s;
	-o-transition: 	    background 0.4s;
	transition: 	    background 0.4s;
}

	.tbtn:hover { text-decoration:none; }

	.tbtn.big { padding:20px 30px; font-size:1.1em; }
	
	.tbtn.adsteal { background:#6B85A6; color:#fff; }
	.tbtn.adsteal:hover { background:#A1B1C6; }
	
	.tbtn.affblue { background:#29A9E1; color:#fff; }
	.tbtn.affblue:hover { background:#76C8EC; }
	

/*box*/
.box { padding:20px; margin:0 0 15px; position:relative;
	-moz-box-sizing:border-box; -ms-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
	-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
}

	.box.half { width:49%; margin-right:2%; float:left; }
	.box.half.last { margin-right:none; float:right; }
	.box.flushtop {
		-moz-border-radius-topleft:0; -webkit-border-top-left-radius:0; border-top-left-radius:0px;
		-moz-border-radius-topright:0; -webkit-border-top-right-radius:0; border-top-right-radius:0px;
	}
	.box.borderright { padding-right:40px; border-right:1px solid #e6e6e6;
		-moz-border-radius:0; -webkit-border-radius:0; border-radius:0;
	}

	.box.lgray { background:#f2f2f2; }
	.box.lgray h2 { margin:0 0 5px !important; color:#b3b3b3; }
	.box.lgray p { color:#808080; }
	
	.box.yell { background:#FFD000; }



/*z*/
#bevoswitch { z-index:800; }
#header { z-index:750; }
#header #nav { z-index:800; }
#footer { z-index:750; }
.xstripe { z-index:100; }
#main .bgtrans,
#main .bgtrans_main { z-index:100; }
#main .cont { z-index:200; }
#main .shell { z-index:200; }








